
* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
  }

html{
    margin: 0 !important;
    padding: 0 !important;
}

.logout{
    text-decoration: none;
    color: black;
    padding-top: 6%;
}

body {
    background-color: #f8f9fa; /* Light gray background */
    color: #212529; /* Dark text */
    font-family: Arial, sans-serif;
}

.book-info {
    border: 2px solid #6c757d; /* Gray border */
    padding: 20px;
    margin-top: 20px;
    background-color: #ffffff; /* White background */
    border-radius: 10px;
}

.book-info h1 {
    color: #007bff; /* Blue title */
}

.book-info img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.book-info p {
    font-size: 1.1em;
}

.search-area{
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-area input{
    border-radius: 25px;
    padding: 10px;
    width: 50%;
    border: none;
    margin: 1%;
}

.search-area button{
    border-radius: 250px;
    padding: 10px;
    border: none;
    background-color: rgb(42, 133, 0);
    color: white;
    margin: 1%;
}

.btn{
    border-radius:20px !important;
}

.form-control{
    border-radius: 20px !important;
}
